TRACE_TO_LANGSMITH=true
CC_LANGSMITH_API_KEY=
CC_LANGSMITH_PROJECT=boss-ai-monitoring
LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"  # For self-hosted
LANGSMITH_WORKSPACE_ID=""                # Default workspace get from lansmith
LANGSMITH_PROJECT="boss-ai-monitoring"                 # Default project for queries